*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk' , sans-serif;
    box-sizing: border-box;
    }
        
    /* Variáveis css*/
        
    :root{
    --background-color:#1A1A1E;
    --menu-color:#272626;
    --card-color:#E0DBE6;
    --btn-color:#9956F6;
    --btn-color-hover:#9956F6;
    --btn-moda-color:#FFFFFF;
    --btn-border-color:#E0DBE6;
    --border-modal-color:#E0DBE6;
    --input-color:#272626;
    --text1-color:#FFFFFF;
    --text2-color:#9956f6;
    --text3-color:#272626;
    font-size: 62.5%;
    }
        
    /* Estilo para ajustar a posição do conteúdo principal */
    body{
    background: var(--background-color);
    overflow: hidden;
    min-height: 100vh;
    font-size: 1.6rem;
    }
        
    /* Estilo para a barra lateral */
    .sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:var(--menu-color);
    padding-top: 20px;
    }
      
    /* Estilo para os links no menu */
    .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    }
    
    .menu a{
      margin-top: 5rem; 
      color: var(--text1-color);
     }
    
    li{
    list-style: none;
    position: relative;
    top: 5rem;
    left: 0;
    }
    
    img{
    padding: 0.1rem 0.5rem;
    margin-left: 0.4rem;
    margin-top: -0.6rem;
    }
    
    .notificacao a{
    margin-top: 2rem; 
    color: var(--text1-color);  
    }
    
    .notificacao img{
    margin-top: -0.1rem;
    }
    
    .chat a{
    margin-top: 2rem; 
    color: var(--text3-color); 
    }
    
    .chat img{
    margin-top: -0.1rem;
    }
          
    .configuracao a{
    margin-top: 20rem;
    color: var(--text1-color)
    }
    
    .usuario a{
    margin-top: 2rem;
    color: var(--text1-color)
    }
    
    /* Estilo para os links ativos no menu */
    .sidebar a.active {
     background-color: var(--text2-color);
    }
      
    /* Estilo para o conteúdo principal */
    .content {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 30rem;
    padding: 20px;
    }
    
    .card-publicacao{
      background: var(--card-color);
      border-radius: 0.5rem;
    }
    
    .card-publicacao input{
      border: none;
      border-radius: 0.5rem;
      background: var(--text1-color);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      cursor: none;
      margin-left: -5rem;
    }
    
    ::placeholder{
      color: var(--menu-color);
      font-size: 1.5rem;
      font-weight: 400;
      
    }
    
    .card-usuario img{
      margin-top: -1.9rem;
      margin-left: -1rem;
    }
    
    .usuario-nome{
      padding: 2rem 1rem;
    }
    
    .img-foto{
      margin-top: 3rem;
    }
    
    .card-poste{
    position: absolute;
    top: 30rem;
    background: var(--card-color);
    }
    
    h1{
    color: var(--text2-color); 
    font:400;
    font-size: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    position: absolute;
    }

    .mensagens{
    height: 100%;
    position: fixed;
    top: 0;
    left: 33rem;
    background-color:var(--menu-color);
    padding-top: 20px;
    border:1px solid #e0dbe618;

    }
    
    h2{
      color: var(--text1-color);
      margin-left: 1rem;
    }

    p{
     color: var(--text2-color);
     margin-top: -3rem;
     left: 14rem;
     position: absolute;
    }

    .input-mensagens{
      margin-left: 1rem;
      margin-top: 2rem;
    }

    .input-pesquisar{
      padding-left: 9rem;
      background: transparent;
      border: 1px solid var(--border-modal-color);
      border-radius: 0.5rem;
      padding: .4rem;
      margin-top: 3rem;
      color: var(--border-modal-color);
    }

    .input-pesquisar:focus{
      outline: 0.2rem solid var(--btn-color-hover);
    }

    ::placeholder{
      color: var(--card-color);
      
    }

    .icone-pesquisar{
      position: absolute;
      padding: 1rem;
      left: 1rem;
    }

    #chat-container {
      height: 400px;
      overflow-y: auto;
    }

    /* Estilo para cada mensagem */
    .message {
      margin-bottom: 10px;
    }
    /* Estilo para as mensagens do usuário */
    .message.user .message-body {
      background-color: #007bff;
      color: #fff;
    }
    /* Estilo para as mensagens do interlocutor */
    .message.interlocutor .message-body {
      background-color: #f0f0f0;
    }