*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk' , sans-serif;
}


:root{
    --background-color:#1A1A1E;
    --btn-color:#9956F6;
    --btn-border-color:#E0DBE6;
    --input-color:#272626;
    --text1-color:#FFFFFF;
    --text2-color:#9956f6;
}

body{
    background: var(--background-color);
    overflow: hidden;
}


h1{
color: var(--btn-color);
font-weight: 500;
font-size: 1.6rem;
}

p{
    color: var(--text1-color);
    font-weight: 500;
font-size: 1.1rem;
}

.site-wrap{
    margin: 3.9rem;
}

input{
    width: 34vw!important;
    border-radius: 0.3rem!important;
    padding: 0.9rem !important;
    border: none !important;
    background-color: var(--input-color)!important;
    color: var(--text-color)!important;
    border: solid var(--btn-border-color) 0.1rem!important;
}

input:focus{
    outline: 0.2rem solid var(--btn-color)!important;
}

::placeholder{
    color: var(--text1-color)!important;
}

a{
    color: var(--text1-color);
    text-decoration: none;
}

a:hover{
    color: var(--btn-color);
    transition: all ease-in-out 0.9s;
   
}

li{
    list-style: none;
    margin-top: 1rem;
    position: absolute;
    font-weight: 500;
    font-size: 0.9rem;
}

#btn_entrar{
    width: 34vw!important;
    border-radius: 0.3rem!important;
    padding: 0.9rem !important;
    border: none !important;
    background-color: var(--btn-color)!important;
    margin-top: 4rem;
    font-weight: 500;
    font-size: 1.0rem;
}


.btn{
    width: 34vw!important;
    border-radius: 0.3rem!important;
    padding: 0.9rem !important;
    border: solid 1px var(--btn-border-color) !important;
    background-color: transparent!important;
    font-weight: 500;
    font-size: 1.0rem;
}

.btn:hover{
    border: none!important;
    background-color: var(--btn-color)!important;
    transition: all ease-in-out 0.9s ;
    color: var(--text1-color)!important;
}

label{
    color: var(--btn-color);
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-left: 0.3rem;
}

.img-fundo .lateral-img{
width: 44%;
object-fit: cover;
top: 1rem;
margin-left: 40rem;
position: absolute;
}
