*{
margin: 0;
padding: 0;
font-family: 'Space Grotesk' , sans-serif;
box-sizing: border-box;
}
    
/* Variáveis css*/
    
:root{
--background-color:#1A1A1E;
--menu-color:#272626;
--card-color:#E0DBE6;
--btn-color:#9956F6;
--btn-color-hover:#9956F6;
--btn-moda-color:#FFFFFF;
--btn-border-color:#E0DBE6;
--border-modal-color:#E0DBE6;
--input-color:#272626;
--text1-color:#FFFFFF;
--text2-color:#9956f6;
--text3-color:#272626;
font-size: 62.5%;
}
    
/* Estilo para ajustar a posição do conteúdo principal */
body{
background: var(--background-color);
min-height: 100vh;
font-size: 1.6rem;
}
    
/* Estilo para a barra lateral */
.sidebar {
height: 100%;
position: fixed;
top: 0;
left: 0;
background-color:var(--menu-color);
padding-top: 20px;
}
  
/* Estilo para os links no menu */
.sidebar a {
padding: 10px 15px;
text-decoration: none;
font-size: 1.6rem;
display: block;
}

.menu a{
margin-top: 5rem; 
color: var(--menu-color);      
}

li{
list-style: none;
position: relative;
top: 5rem;
left: 0;
}

img{
padding: 0.1rem 0.5rem;
margin-left: 0.4rem;
margin-top: -0.6rem;
}

.notificacao a{
margin-top: 2rem; 
color: var(--text1-color);  
}

.notificacao img{
margin-top: -0.1rem;
}

.chat a{
margin-top: 2rem; 
color: var(--text1-color); 
}

.chat img{
margin-top: -0.1rem;
}
      
.configuracao a{
margin-top: 20rem;
color: var(--text1-color)
}

.usuario a{
margin-top: 2rem;
color: var(--text1-color)
}

/* Estilo para os links ativos no menu */
.sidebar a.active {
 background-color: var(--text2-color);
}
  
/* Estilo para o conteúdo principal */
.content{
display: flex;
align-items:center;
justify-content: center;
margin-left: 30rem;
padding: 20px;
}

/* Estilização do card de publicações*/
.card-poste{
position: absolute;
top: 15rem;
left: -4rem;
background: var(--card-color);
margin:auto 4rem;
border-radius: 0.5rem;
}

.card-foto-poste img{
  margin-top: -3rem;
}

.poste-img{
display: flex;
align-items: center;
justify-content: center;
}

.button-icone{
  border-radius: 100%;
  width:20px;
  height:20px;
  cursor: pointer;
}

.button-icone:hover{
  background: #f6f5f8;
  border-radius: 100%;
  width:20px;
  height:20px;
}

.icone-post{
  position: absolute;
  top: 32rem;
  left: 2rem;
}

.button-icone{
position: absolute;
left: 73rem; 
}

input{
margin:auto 10rem;
border-radius: 20rem;
background: var(--text1-color);
font-size: 1.5rem;
font:bold;
color: var(--text3-color);
border:none;
margin-top: 9rem;
position: relative;
top: 1rem;
}

input:focus{
  outline: 0.2rem solid var(--btn-color-hover);
}

::placeholder{
  color: var(--text3-color);
  font:bold;
}

.poste-text{
font-size: 1.1rem;
font-weight: 400;
color: var(--text3-color);
margin-left: 2rem;
}

h1{
color: var(--text2-color); 
font:400;
font-size: 2.1rem;
display: flex;
align-items: center;
justify-content: center;
margin-top: 5rem;
position: absolute;
}

/* Estilização do formulario*/
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background: var(--border-modal-color);
}

.card-body{
 margin-top: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

/* Estilização do button do modal*/
.btn{
margin-left: 1rem;
margin-top:1rem;
text-align: left;
padding-left: 43rem;
background: var(--btn-moda-color);
border-radius: 20rem;
border: none;
color: var(--text3-color);
font-size: 1.4rem;
font-weight: 400;
}

.foto-usuario{
  margin-top: 1rem;
}

.card-publicacoes-usuario{
  display: flex;
  top: 2rem;
  left:10rem;
  position: absolute;
}

.modal-body{
  position: relative;
}

.form-control{
  margin-top: 1rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 400;
}

.modal-footer{
border: none;
position: relative;
display: flex;
align-items: center;
justify-content: center;
margin-top: -5rem;
}

.modal-header{
  border: none;
}

.modal-title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  margin-left: 15rem;
}

.footer-button{
display: flex;
border-radius: 0.5rem;
margin-top: 12rem;
border: 2px solid var(--border-modal-color);
}

.btn-foto{
background: transparent;
position: absolute; 
top: -5rem;
left: 41rem;
}

button{
border-radius: 0.5rem;
background: var(--btn-color);
font-size: 1.5rem;
padding-left: 1rem;
font:400;
color: var(--text1-color);
margin-top:20rem;
border:none;
}

.card-body{
 display: flex;
 align-items: center;
 justify-content: center;
}